global
    log stdout format raw local0

defaults
    log global
    mode tcp
    timeout connect 5s
    timeout client 3m
    timeout server 3m

frontend amqp_front
    bind *:5672
    default_backend amqp_back

backend amqp_back
    balance roundrobin
    server rabbitmq1 rabbitmq1:5672 check inter 2000 rise 2 fall 3
    server rabbitmq2 rabbitmq2:5672 check inter 2000 rise 2 fall 3
    server rabbitmq3 rabbitmq3:5672 check inter 2000 rise 2 fall 3

frontend mgmt_front
    bind *:15672
    default_backend mgmt_back

backend mgmt_back
    balance roundrobin
    server rabbitmq1 rabbitmq1:15672 check inter 2000 rise 2 fall 3
    server rabbitmq2 rabbitmq2:15672 check inter 2000 rise 2 fall 3
    server rabbitmq3 rabbitmq3:15672 check inter 2000 rise 2 fall 3

listen stats
    bind *:8404
    mode http
    stats enable
    stats uri /
    stats refresh 5s
